{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block 'main' %}
<main id="main">
	<div class="container-lg pt-5">
		<div class="d-flex justify-content-center mt-3 py-5 contact">
			<div class="card shadow">
				<div class="card-body">
					<h1>{% trans "Set Password" %}</h1>

					<form method="POST" action="{% url 'account_set_password' %}" class="password_set php-email-form">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" class="btn btn-lg btn-ceal text-capitalize rounded-pill" name="action"
							value="{% trans 'Set Password' %}" />
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block 'extra_js' %}
<script>
	$('.contact input').each((ind, elem) => {
		if (elem.getAttribute('type') === 'submit') return
		elem.classList.add('form-control')
	})
</script>
{% endblock %}