{% extends 'base.html' %}
{% load static %}


{% block 'extra_css' %}
<style>

</style>
{% endblock %}


{% block 'main' %}
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <h3>Learn More <span>About Us</span></h3>
        <p>
          A society of entrepreneurs created solely to improve and better the lives of young entrepreneurs
        </p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            A few things we plan on acheiving are:
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Building a community
              committed to the service of humanity.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Building a community
              where each member develops skills to become an international
              player.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Building a community
              where our future will be highly secured.
            </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            SOFENT is designed to build a community comprising of Prolific thinkers, Content creators,
            Entrepreneurs,
            Academicians,
            Scientists and decision makers from all spheres of life, different backgrounds and cultures.
            Together, we
            build the
            community that will shape the future of Nigeria Youths.
          </p>
          <a href="/about" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <h3>We do offer awesome <span>Services</span></h3>
        <p>
          We offer a range of services, with more still to come.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-store"></i></div>
            <h4 class="title"><a href="/store/">SOFENT E-commerce</a></h4>
            <p class="description">
              A part of SOFENT where you can buy and sell goods you want.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="/research/">SOFENT Research</a></h4>
            <p class="description">
              We provide a member only access to our research documents for your enlightenment, you
              can download and
              read them
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-tree"></i></div>
            <h4 class="title"><a href="/farms/">SOFENT Farms</a></h4>
            <p class="description">
              SOFENT is committed to applying modern ways of food production, to produce quality and
              healthy food.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-donate-heart"></i></div>
            <h4 class="title"><a href="/donate/">SOFENT Charity</a></h4>
            <p class="description">
              A part of SOFENT where you can donate or give out things you no longer need or use.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">
      <div class="text-center">
        <h3>Haven't joined SOFENT yet?</h3>
        <p>
          Join us for access to exclusive services like SOFENT E-commerce and lots more.
        </p>
        <a class="cta-btn" href="/accounts/login/">Join us</a>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container">
      <div class="section-title">
        <h2>F.A.Q</h2>
        <h3>Frequently Asked <span>Questions</span></h3>
      </div>

      <ul class="faq-list">
        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
            What Is SOFENT?
            <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              SOFENT is society of entrepreneurs whose aim is to build human capacity and create
              employment
              opportunities for young graduates.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
            What problem does SOFENT stand to solve?
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              SOFENT is charged with the responsibility of building human capacity and creating
              employment
              opportunities for young
              graduate.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
            Who Can Join SOFENT?
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Anyone who wants to add value to our world, a practicing and aspiring entrepreneur.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
            What is the benefit of being a member?
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Since SOFENT is a fully registered organization, any member can use SOFENT as their
              affiliation in their
              business. Every
              member is a part of SOFENT market and they have all the right to advertise, market in
              the SOFENT
              E-commerce platform so
              as to give the products online visibility and to attract customers across the globe and
              be hired as a
              professional in
              their respective fields.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
            How do I become a memeber.?
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Click <a href="">here</a>
              to fill the membership form. You need means of identification, recommenders
              name and
              passport
              photograph.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
            Can Students Join SOFENT?
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Yes.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">
            Is SOFENT a registered company?
            <i class="bi bi-chevron-down icon-show"></i>
            <i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq7" class="collapse" data-bs-parent=".faq-list">
            <p>
              Yes, it is fully registered under Corporate Affairs Commission with registration number
              RC 2713863.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- End F.A.Q Section -->

  <!-- ======= Team Section ======= -->
  <!-- <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <h2>Team</h2>
        <h3>Our Founding <span>Team</span></h3>
        <p>
          Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
          adipisci expedita at voluptas atque vitae autem.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <h3>Contact <span>Us</span></h3>
        <p>
          We appreciate you getting in touch with us.
        </p>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>
                73, Igbalaye street, <br>
                Oke Aro, Akure. <br>
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>conatct@sofentng.org</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+2347036074094</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required />
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-end">
              <button type="submit" class="rounded-0">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

</main>
{% endblock %}


{% block 'extra_js' %}
{% if error %}
<script>
  let error_message = document.querySelector('.error-message');
  error_message.innerHTML = "Something went wrong";
  error_message.classList.add('d-block')
  document.querySelector('.php-email-form').scrollIntoView();


  function scrollIng(elem) {
    elem.scrollIntoView()
  }
</script>
{% endif %}
{% endblock %}