{% if home  %}
{% if home_home %}
<section id="hero">
  <div class="hero-container">
    <h3>Welcome to <strong>SOFENT</strong></h3>
    <h1>A society of entreprenuers</h1>
    <h2>
      Building a community of prolific thinkers, Content creators, and
      Entrepreneurs.
    </h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
  {% endif %}
</section>
{% elif farms %}
<section id="farms-hero">
  <div class="farms-hero-container">
    <h3>Welcome to <strong>Sofent Farms</strong></h3>
    <h1>A subsidiary of Sofent</h1>
    <h2>
      providing affordable and quality farm food products.
    </h2>
    <a href="#main" class="btn-get-started scrollto">Get Started</a>
  </div>
</section>
{% endif %}